# PyCharm Settings
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

haarcascades/
extract_bottleneck_features.py

# Dataset
dogImages/
lfw/
bottleneck_features/

# Saved Models
saved_models/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
